@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-sans;
}

@keyframes animeText {
  from {
    color: black
  }

  to {
    color: #8257e5
  }
}

.code {
  color: black;
  animation: animeText 2s ease 0s infinite alternate none;
  text-shadow: -1px -1px 0 #8257e5, 1px -1px 0 #8257e5, -1px 1px 0 #8257e5,
    1px 1px 0 #8257e5;
}
